framework: auto-detect

generate_load_scripts: true

source https://nuget.org/api/v2

nuget FSharp.Core 
nuget Argu

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter version_in_path: true
nuget Newtonsoft.Json
nuget FSharp.Plotly
nuget Microsoft.ML ~> 1.5.0-preview
nuget Microsoft.ML.FastTree ~> 1.5.0-preview
nuget Deedle

git https://github.com/CSBiology/FSharpAux.git nuget Packages: /

nuget FSharpAux
nuget FSharpAux.IO

git https://github.com/CSBiology/FSharp.Stats.git nuget Packages: /

nuget FSharp.Stats

git https://github.com/CSBiology/BioFSharp.git nuget Packages: /

nuget BioFSharp
nuget BioFSharp.IO

git https://github.com/CSBiology/BioFSharp.Mz.git nuget Packages: /

nuget BioFSharp.Mz ~> 0.1.3

source lib/ThermoFisher
nuget ThermoFisher.CommonCore.BackgroundSubtraction
nuget ThermoFisher.CommonCore.Data
nuget ThermoFisher.CommonCore.MassPrecisionEstimator
nuget ThermoFisher.CommonCore.RawFileReader

git https://github.com/CSBiology/MzIO.git nuget Packages: /

nuget MzIO
nuget MzIO.Processing
nuget MzIO.SQL 
nuget MzIO.Bruker 
nuget MzIO.Wiff
nuget MzIO.MzML
nuget MzIO.Thermo

clitool dotnet-fake

group Formatting
source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Formatting prerelease
nuget FSharp.Formatting.CommandTool prerelease

group FakeBuild
source https://api.nuget.org/v3/index.json

storage: none

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto 
nuget Fake.DotNet.FSFormatting 
nuget Fake.Api.GitHub

group Logging

source https://nuget.org/api/v2

nuget NLog
